.navbar {
    background: #450569;
    width: 100%;
    color: white;
    font-size: 3rem;
    padding: 20px;
}

/* .currentScore {
    color: white; 
    margin-left: 100px;
    float: right;
} */

.navbar-text {
font-family: 'ZCOOL XiaoWei', serif;
font-size: 30px;
}

.highScore {
    float: right;
    margin-right: 100px;
}

title {
    color: white;
}
  
.navbar a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
}

.container-fluid-nav div{
    /* display: flex; */
justify-content: space-around;}
